.main{
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas: 
    "smenu"
    "rooms";
}

.rooms{
    background-color: green;
    grid-area: rooms;
    height: 100%;
}