.a{
    /* transition-delay: 100ms; */
    background-color: yellow;
    align-self: center;
    text-align: center;
    border: solid;
    border-radius: 5px;
    height: auto;
    font-size: 3vmin;
}
.submenu{
    text-decoration: none;
    color: black;
    transition-delay: 100ms;
    background-color: yellow;
    align-self: center;
    text-align: center;
    border: solid;
    border-radius: 5px;
    height: auto;
    font-size: 3vmin;
    /* margin-left: auto;
    margin-right: auto; */
    /* width: max-content; */
}

a:link{
    text-decoration: none;
    color: black;
}

a:visited{
    text-decoration: none;
    color: black;
    
}

a:hover{
    text-decoration: none;
    color: black;
}

a.active .submenu{
    transition-delay: 100ms;
    background-color: paleturquoise;
}

a:hover .submenu{
    transition-delay: 100ms;
    background-color: paleturquoise;
    /* border-width: 3px; */
}

a:checked .submenu{
    transform: scaleY(2px);
}
/* .submenu:hover{
    transition-delay: 100ms;
    background-color: paleturquoise;
} */
