.main{
    grid-area: m;
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    ". bg .";
    height: 100%;
}

.bg{
    grid-area: bg;
    background-color: blue;
    height: 100%;
    border-radius: 10px;
}