.header{
    grid-area: h;
    background-color: green;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "img cap";
    width: min-content;
}
.main img{
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    margin-left: 1vmin;
    margin-right: 1vmin;
    grid-area: img;
    width: 5vmin;
}

.main div{
    width: max-content;
    grid-area: cap;
    font-size: 5vmin;
    font-weight: bold;
    color: white;
}