.contact{
    margin-left: auto;
    margin-right: auto;
    width: min-content;  
}

.img{
    width: 5vmin;
    height: 5vmin;
}
.a{
    border: solid;
    border-radius: 1vmin;
    border-width: 0.3vmin;
    border-color: green;
    background-color: rgb(189, 175, 175);
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto;
    grid-template-areas: 
    "img cap";
    align-self: center;
    font-size: 3vmin;
}

.a .img{
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    grid-area: img;
}
.capture{
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    grid-area: cap;
}

.a:link{
    text-decoration: none;
    color: black;
}

.a:visited{
    text-decoration: none;
    color: black;
}

.a:hover{
    text-decoration: none;
    color: black;
}

.a:active{
    text-decoration: none;
    color: black;
}

